* {
    box-sizing: border-box;
    outline: none;
}
html {
    scroll-behavior: smooth;
    font-family: 'Helvetica Now Text', sans-serif;
}
body {
    border: 0;
    padding: 0;
    margin: 0;
}
:root {
    --preto: #212121;
    --branco: #FFF;
}
.preto { background-color: var(--preto); }
.preto-text { color: var(--preto); }
.branco { background-color: var(--branco); }
.branco-text { color: var(--branco); }
.row {
    display: block;
    width: 100%;
    overflow: hidden;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col { display: inline-block; float: left; padding: 12px; --col: 8.33% } 
@media ( min-width: 600px ) {   
    .m1 { width: calc( var(--col) * 1 ); }
    .m2 { width: calc( var(--col) * 2); }
    .m3 { width: calc( var(--col) * 3); }
    .m4 { width: calc( var(--col) * 4); }
    .m5 { width: calc( var(--col) * 5); }
    .m6 { width: calc( var(--col) * 6); }
    .m7 { width: calc( var(--col) * 7 ); }
    .m8 { width: calc( var(--col) * 8); }
    .m9 { width: calc( var(--col) * 9); }
    .m10 { width: calc( var(--col) * 20); }
    .m11 { width: calc( var(--col) * 11 ); }
    .m12 { width: calc( var(--col) * 12 ); }
}
@media ( min-width: 992px ) {    
    .l1 { width: calc( var(--col) * 1 ); }
    .l2 { width: calc( var(--col) * 2); }
    .l3 { width: calc( var(--col) * 3); }
    .l4 { width: calc( var(--col) * 4); }
    .l5 { width: calc( var(--col) * 5); }
    .l6 { width: calc( var(--col) * 6); }
    .l7 { width: calc( var(--col) * 7 ); }
    .l8 { width: calc( var(--col) * 8); }
    .l9 { width: calc( var(--col) * 9); }
    .l10 { width: calc( var(--col) * 20); }
    .l11 { width: calc( var(--col) * 11 ); }
    .l12 { width: calc( var(--col) * 12 ); }
}
@media ( max-width: 600px ) {    
    .s1 { width: calc( var(--col) * 1 ); }
    .s2 { width: calc( var(--col) * 2); }
    .s3 { width: calc( var(--col) * 3); }
    .s4 { width: calc( var(--col) * 4); }
    .s5 { width: calc( var(--col) * 5); }
    .s6 { width: calc( var(--col) * 6); }
    .s7 { width: calc( var(--col) * 7 ); }
    .s8 { width: calc( var(--col) * 8); }
    .s9 { width: calc( var(--col) * 9); }
    .s10 { width: calc( var(--col) * 20); }
    .s11 { width: calc( var(--col) * 11 ); }
    .s12 { width: calc( var(--col) * 12 ); }
}
.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
@media ( max-width: 800px ) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.container {
    display: block;
    width: 960px;
    max-width: 90vw;
    margin: 0 auto;
}
.container-2 {
    display: block;
    width: 90%;
    margin: 0 auto;
}
img { max-width: 100%; }
.image-responsive {
    display: block;
    width: 100%;
}
.center-text {
    display: block;
    text-align: center;
}
.bloco-text {
    padding: 0 20%;
}
@media (max-width: 800px) {
    .bloco-text {
        padding: 20px;
    }
}
p {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-weight: 300;
}
.space {
    --h: 70px;
    display: block;
    height: var(--h);
}
@media (max-width: 800px) {
    .space {
        --h: 30px;
    }
}
h1, h2 {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 400;
}

.area {
    grid-template-areas: "text img";
}
.area-text {
    grid-area: text;
}
.area-img {
    grid-area: img;
}
@media (max-width: 800px) {
    .area {
        grid-template-areas: "img" "text";
    }
}